/* 头部 */
.g-hd-inner{background:#f4f4f4;}

/* 焦点图 */
.m-focus .hd ul .on{ background:#c00000;font-size:0;}

/* 模块风格一 */
.m-default-default .m-wg-hd{ border-top:4px dashed #FC0516;}

/* 底部 */
.m-ft{color:#444;background:#f4f4f4;}
.m-ft a{color:#444;}
.m-ft ul{border-bottom:1px solid #8d0101;}
.m-ft-login{border-bottom: 1px solid #8d0101;}


/* 导航 */
.m-nav{background:#c00000;}
.m-nav .u-first{border-left:none;}
.m-nav ul li{color:#fff;}
.m-nav ul li a{color:#fff;}
.m-nav ul li ul {background-color:#c00000;}
.m-nav ul ul li {color:#fff;border-top:none;}
.m-nav ul .select {background: -webkit-gradient(linear,left top, left bottom,from(#8d0101), to(#e00101)); background: -o-linear-gradient(top, #8d0101, #e00101); background: -moz-linear-gradient(top, #8d0101, #e00101); background: linear-gradient(top, #8d0101, #e00101);}
.m-nav ul .select>a{color:#fff;}