@charset "utf-8";

.plug-div .plug-phone_dfse{ border-top:1px solid #E2B743;  background:#f3b613;  background: rgba(243, 182, 19,.8);}
.plug-div .plug-phone_dfse div .title{ color:#fff; }
.plug-div .plug-phone_dfse div { border-left: 1px solid #E2B743;}