/*
*/
.fa-enter-active,
.fa-leave-active {
    transition: opacity 1s;
}

.fa-enter,
.fa-leave-to {
    opacity: 0;
}

.fa-enter-active .wrapper,
.fa-leave-active .wrapper {
    transition: transform 1s cubic-bezier(0.08, .74, .34, 1);
    transform-origin: bottom center;
}

.fa-enter .wrapper,
.fa-leave-to .wrapper {
    transform: rotate(90deg);
}

.fa-enter-active .card,
.fa-leave-active .card {
    transition: margin 2s cubic-bezier(0.08, .74, .34, 1);
}

.fa-enter .card,
.fa-leave-to .card {
    margin: 0 -100px;
}

/*
.card-enter-active,
.card-leave-active {
    transition: opacity 2s;
}

.card-enter,
.card-leave-to {
    opacity: 0;
}
*/

.card {
    transition: all .3s;
}

.card-move {
    transition: transform .3s;
}

.card-enter {
    opacity: 0;
    transform: scale(.8) translateX(100px);
}

.card-leave-active {
    transition: all 1s, opacity .5s .5s;
    position: absolute !important;
    z-index: 10;
    pointer-events: none;
}

.card-leave-to {
    opacity: 0;
    transform: translateX(-106px) translateY(-300px) scale(1.5);
}

.zoom-enter-active,
.zoom-leave-active {
    transition: opacity .3s, transform .3s;
}

.zoom-enter,
.zoom-leave-to {
    opacity: 0;
    transform: scale(0.7);
}
